{% extends "layout.html" %}

{% block content %}
<main role="main" class="inner cover">
        <h2 class="cover-heading">Step 1: Select a customer</h2>
          <div class="container">
            <form method='POST' action='/itinerary/customer'>
              <div class="form-group">
            <select class="form-control" name="customer" placeholder= "Select a customer">
              {%for this in customers%}
              <option>{{this[0]}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
        <input class="form-control" name="start" placeholder= "Arrival Date (YYYY-MM-DD)">
      </div>
          <button type="submit" class="btn btn-info">Submit</button>
          </form>
</main>

{% endblock %}
