{% extends "layout.html" %}

{% block content %}


<div class="container">
  <form method='POST' action='/customer'>
    <div class="form-group">
      <input type="name" class="form-control" name="name" placeholder="Customer name" value="{{name}}">
    </div>
    <div class="form-group">
      <input type="name" class="form-control" name="email" placeholder="Email" value={{email}}>
    </div>
    <button type="submit" class="btn btn-info">Add this customer</button>
  </form>
</div>
{% endblock %}
