{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">

<hr>

<div class="row justify-content-between">
  <div class="col-m-6">
      <h5 class="display-4">
          Customer Management
      </h5>
  </div>
  <div class="col-m-4">
      <div class="display-4">
          <a href="/customer/addCustomer" class="btn btn-info btn-lg">Add a customer</a>
      </div>
    </div>
</div>

{%if bool_update %}
  <div class="alert alert-info" role="alert">
    Customer modified successfully!
  </div>
  <hr>
{% endif %}
{%if bool_remove %}
  <div class="alert alert-info" role="alert">
    Customer removed successfully!
  </div>
  <hr>
{% endif %}



            <div class="card-body">
<div class="table-responsive">

            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Name</th>
                  <th class="text-center"> Email adress</th>
                  <th class="text-center"> Modify</th>
                  <th class="text-center"> Delete</th>
                </tr>
              </thead>

              <tbody>

                {%for this in customers%}
                <tr>
                  <td align="left" valign="middle">{{this[0]}}</td>
                  <td align="center" valign="middle">{{this[2]}}</td>
                  <td align="center" valign="middle"> <a href="/customer/modify/:{{this[1]}}" class="btn btn-info btn-sm">Modify</a> </td>
                  <td align="center" valign="middle"> <a href="/customer/delete/:{{this[1]}}" class="btn btn-danger btn-sm">Delete</a> </td>
                </tr>
                {% endfor %}

              </tbody>

 </div>
</div>
</div>
{% endblock %}
